<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="file">
        <small class="form-label">첨부파일</small>
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <form action="/upload" class="dropzone needsclick" id="dropzone-basic">
                        <div class="dz-message needsclick">
                            클릭 혹은 파일을 이곳에 드롭하세요.
                            <span class="note needsclick">파일당 최대 5MB, 최대 1개 등록</span>
                        </div>
                        <div class="fallback">
                            <input name="file" type="file"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>