<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <th:block th:fragment="searchInfo(searchVO)">
        <input type="hidden" th:field="*{page}">
        <input type="hidden" th:field="*{search1}">
        <input type="hidden" th:field="*{search2}">
        <input type="hidden" th:field="*{search3}">
        <input type="hidden" th:field="*{search4}">
        <input type="hidden" th:field="*{search5}">
        <input type="hidden" th:field="*{search6}">
        <input type="hidden" th:field="*{search7}">
        <input type="hidden" th:field="*{search8}">
        <input type="hidden" th:field="*{search9}">
        <input type="hidden" th:field="*{search10}">
        <input type="hidden" th:field="*{searchOption}">
        <input type="hidden" th:field="*{searchKeyword}">
        <input type="hidden" th:field="*{searchStrtDt}">
        <input type="hidden" th:field="*{searchEndDt}">
    </th:block>
</body>
</html>