<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/layout}" layout:fragment="content">
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {
		fnPageCall('file', '/file/multiFile');

		document.getElementById('btn_submit').onclick = function() {
			let procType = /*[[${maBoardVO.procType}]]*/'procType';
			if(procType === 'insert') {
				fnProcessing('post', 'insertProc', this);
			} else {
				fnProcessing('patch', 'updateProc', this);
			}
		};
    });
</script>
<h4 class="fw-bold py-3 mb-4">문의사항</h4>
<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">문의사항 <th:block th:text="${maBoardVO.procType eq 'insert' ? '등록' : '수정'}"></th:block></h5>
			</div>
			<div class="card-body">
				<form id="defaultFrm" th:object="${maBoardVO}" method="post" onsubmit="return false;">
					<input type="hidden" th:field="*{seq}">
					<input type="hidden" th:field="*{brdDivn}">
					<input type="hidden" th:field="*{atchFileId}">
					<th:block th:replace="common/fragments/searchInfo :: searchInfo(${maBoardVO})"/>
					<div class="row">
						<div class="mb-3 col-md-3">
							<label class="form-label">문의유형</label>
							<select class="form-select" th:field="*{qaType}" title="문의유형">
								<option value="" th:selected="${maBoardVO.qaType} eq ''">선택</option>
								<th:block th:each="code : ${codeMap}">
									<option th:value="${code.key}" th:text="${code.value}"></option>
								</th:block>
							</select>
							<div id="error_qaType" class="error_message"></div>
						</div>
						<div class="mb-3 col-md-9">
							<label class="form-label">제목</label>
							<input th:type="text" class="form-control" th:field="*{title}" title="제목" th:maxlength="50"/>
							<div id="error_title" class="error_message"></div>
						</div>
						<div class="mb-3">
							<label class="form-label">내용</label>
							<textarea class="form-control" id="menuDscr" th:field="*{cont}" th:maxlength="1000" title="내용"></textarea>
							<div id="error_cont" class="error_message"></div>
						</div>
						<div id="file"></div>
					</div>
					<div class="text-end">
						<th:block th:if="${maBoardVO.procType eq 'insert'}">
							<button type="button" class="btn btn-outline-primary" id="btn_submit">등록</button>
							<button type="button" class="btn btn-outline-secondary" onclick="fnPageCall('list', 'list')">취소</button>
						</th:block>
						<th:block th:if="${maBoardVO.procType eq 'update'}">
							<button type="button" class="btn btn-outline-primary" id="btn_submit">수정</button>
							<button type="button" class="btn btn-outline-secondary" th:onclick="|fnPageCall('view', 'view', 'seq', ${maBoardVO.seq})|">취소</button>
						</th:block>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</html>
