<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org">
<table class="datatables-users table border-top dataTable no-footer dtr-column" style="width: 100%;">
	<colgroup>
		<col style="width: 7%;">
		<col>
		<col style="width: 7%;">
		<col style="width: 15%;">
		<col style="width: 15%;">
		<col style="width: 7%;">
		<col style="width: 15%;">
		<col style="width: 15%;">
	</colgroup>
	<thead>
		<tr>
			<th>no.</th>
			<th>프로모션명</th>
			<th>순서</th>
			<th>시작일</th>
			<th>종료일</th>
			<th>조회수</th>
			<th>등록자</th>
			<th>등록일</th>
		</tr>
	</thead>
	<tbody>
		<th:block th:if="${not #lists.isEmpty(resultList.content)}">
			<tr class="text-body" th:each="result, status : ${resultList}" th:onclick="|fnPageCall('view', 'view', 'seq', ${result.seq})|" th:styleappend="${#dates.format(#dates.createToday(), 'yyyy-MM-dd HH:mm') gt #temporals.format(result.endDt, 'yyyy-MM-dd HH:mm') ? 'background:lightgray' : ''}">
				<td th:text="${resultList.totalElements - (resultList.number * resultList.size) - status.index}"></td>
				<td><span class="text-truncate" th:text="${result.title}"></span></td>
				<td th:text="${result.ord}"></td>
				<td th:text="${#temporals.format(result.strtDt, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:text="${#temporals.format(result.endDt, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:text="${result.viewCnt}"></td>
				<td th:text="${result.regId}"></td>
				<td th:text="${#temporals.format(result.regDt, 'yyyy-MM-dd')}"></td>
			</tr>
		</th:block>
		<th:block th:unless="${not #lists.isEmpty(resultList.content)}">
			<tr class="text-body">
				<td th:colspan="8" style="text-align: center; height: 3rem;">등록된 데이터가 없습니다.</td>
			</tr>
		</th:block>
	</tbody>
</table>
<div class="demo-inline-spacing">
	<th:block th:replace="common/fragments/paging :: paging(${resultList}, 'addList')"></th:block>
	<button class="btn btn-primary" onclick="fnPageCall('insert', 'insertForm');" style="float: right;">
		<span><i class="bx bx-plus me-sm-1"></i>등록</span>
	</button>
</div>
</html>
