<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/layout}" layout:fragment="content">
<script th:inline="javascript">
	document.addEventListener('DOMContentLoaded', () => {
		fnPageCall('addList', 'addList');

		let searchStrtDt = document.getElementById('searchStrtDt');
		let searchEndDt = document.getElementById('searchEndDt');

		const startPicker = flatpickr(searchStrtDt, {
			locale: "ko",
			dateFormat: 'Y-m-d',
			onChange: function(selectedDates) {
				if (selectedDates.length > 0) {
					endPicker.set("minDate", selectedDates[0]);
				}
			}
		});

		const endPicker = flatpickr(searchEndDt, {
			locale: "ko",
			dateFormat: 'Y-m-d',
			onChange: function(selectedDates) {
				if (selectedDates.length > 0) {
					startPicker.set("maxDate", selectedDates[0]);
				}
			}
		});

		document.getElementById('btn_search').onclick = function() {
			fnPageCall('addList', 'addList');
		};

		document.getElementById('btn_reset').onclick = function() {
			window.location.reload();
		};

		document.addEventListener('keydown', function(e) {
			if(e.keyCode === 13) {
				fnPageCall('addList', 'addList');
			}
		});
	});
</script>
<h4 class="fw-bold py-3 mb-4">이벤트관리</h4>
<div class="card">
	<form id="defaultFrm" th:object="${searchVO}" method="post" onsubmit="return false;">
		<input type="hidden" th:field="*{seq}"/>
		<input type="hidden" th:field="*{page}"/>
		<div class="width_100p display_inline_block bottom_1rem">
			<div class="card-header">
				<small class="fw-medium d-block">검색</small>
				<div class="row" style="margin-top: 1rem !important;">
					<div class="col-md-2">
						<div class="input-group input-group-merge">
							<input type="text" class="form-control flatpickr-date" th:field="*{searchStrtDt}" title="시작일" placeholder="시작일"/>
							<span class="input-group-text"><i class="icon-base bx bx-calendar"></i></span>
						</div>
					</div>
					<div class="col-md-auto" style="margin-top: 0.5rem;"><b>~</b></div>
					<div class="col-md-2">
						<div class="input-group input-group-merge">
							<input type="text" class="form-control flatpickr-date" th:field="*{searchEndDt}" title="종료일" placeholder="종료일"/>
							<span class="input-group-text"><i class="icon-base bx bx-calendar"></i></span>
						</div>
					</div>
					<div class="col-md-2">
						<div class="input-group input-group-merge">
							<input type="text" class="form-control flatpickr-time-js" th:field="*{searchOption}" title="발송시간" placeholder="발송시간"/>
							<span class="input-group-text"><i class="icon-base bx bx-calendar"></i></span>
						</div>
					</div>
					<div class="input-group" style="width: 45% !important; align-items: center !important;">
						<input type="text" th:field="*{searchKeyword}" title="검색어" class="form-control" placeholder="이벤트 내용 검색"/>
						<button type="button" class="btn btn btn-outline-dark" id="btn_reset">초기화</button>
						<button type="button" class="btn btn-outline-primary" id="btn_search">검색</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="card-datatable table-responsive">
		<div class="dataTables_wrapper dt-bootstrap5 no-footer">
			<div id="tbl"></div>
		</div>
	</div>
</div>
</html>
