<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/layout}" layout:fragment="content">
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {
		document.getElementById('btn_del').onclick = function() {
			if(confirm("삭제하시겠습니까?")) {
				fnProcessing('delete', 'deleteProc', this);
			}
		};
    });
</script>
<h4 class="fw-bold py-3 mb-4">사용자관리</h4>
<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">사용자정보</h5>
			</div>
			<div class="card-body">
				<form id="defaultFrm" th:object="${maEventVO}" method="post" onsubmit="return false;">
					<input type="hidden" th:field="*{seq}">
					<th:block th:replace="common/fragments/searchInfo :: searchInfo(${maEventVO})"></th:block>
					<div class="row">
						<div class="mb-3 col-md-6">
							<label class="form-label" for="regId">등록자</label>
							<input type="text" class="form-control-plaintext" id="regId" th:value="*{regId + ' (' + regNm + ')'}" readonly/>
						</div>
						<div class="mb-3 col-md-6">
							<label class="form-label" for="regDt">등록일</label>
							<input type="text" class="form-control-plaintext" id="regDt" th:value="*{#temporals.format(regDt, 'yyyy-MM-dd HH:mm')}" readonly/>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="strtDt">이벤트 시작일</label>
							<input type="text" class="form-control-plaintext" id="strtDt" th:field="*{strtDt}" readonly/>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="endDt">이벤트 종료일</label>
							<input type="text" class="form-control-plaintext" id="endDt" th:field="*{endDt}" readonly/>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="ord">이벤트 발송 시간</label>
							<input type="text" class="form-control-plaintext" id="ord" th:field="*{alertTime}" readonly/>
						</div>
						<div class="mb-3">
							<label class="form-label" for="cont">이벤트 내용</label>
							<textarea class="form-control-plaintext" id="cont" th:field="*{cont}" readonly></textarea>
						</div>
					</div>
					<div class="text-end">
						<button type="button" class="btn btn-outline-info" onclick="fnPageCall('insert', 'updateForm')">수정</button>
						<button type="button" class="btn btn-outline-danger" id="btn_del">삭제</button>
						<button type="button" class="btn btn-outline-secondary" onclick="fnPageCall('list', 'list')">목록</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</html>
